*{
    padding: 0;
    margin: 0;
    background-color: rgb(43, 42, 42);
}
.tite{

    font-family: monospace;
    text-align: center;
    /* font-weight: 1600; */
    font-size: 1.5cm;
    background-color: whitesmoke;

}
#a{
    color: rgb(43, 42, 42);
    background-color: whitesmoke;
    display: inline-block;
}
#b{
    color: rgb(43, 42, 42);
    background-color: whitesmoke;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}
#c{
    color: rgb(43, 42, 42);
    background-color: rgb(245, 245, 245);
    display: inline-block;
}
#a:hover{
    color:rgb(239,84,128);
    background-color: whitesmoke;
}
#b:hover{
    color:rgb(255,222,85);
    background-color: whitesmoke;
}#c:hover{
    color:rgb(116,218,226);
    background-color: whitesmoke;
}

.score-board{
     margin: 20px auto 20px auto;
    width:100px;
    padding: 10px 40px 10px 40px; 
    color: whitesmoke;
    text-align: center;
    border: 3px solid rgb(223, 151, 235);
    border-radius: 4px;
    position:relative;
}

.user{
    position:absolute;
    left:-22;
    top:22;
    background-color: rgb(223, 151, 235);
    border: 1px solid rgb(223, 151, 235);
    border-radius: 4px;

}
.comp{
    position:absolute;
    right:-24;
    top:22;
    background-color: rgb(223, 151, 235);
    border: 1px solid rgb(223, 151, 235);
    border-radius: 4px;
}
.score{
    font-family: monospace;
    font-size: 1cm;
    /* border: 3px solid whitesmoke; */
    /* padding: 10px 40px 10px 40px;  */
}

.choice{
    font-family: monospace;
    text-align: center;
    font-weight: 800;
    font-size: .75cm;
    color: whitesmoke;
    margin: 20px;
}

.images{
    margin: 10px auto;
    text-align: center;
}

.rock{
    padding: 0; 
    height: 100px;
    width: 100px;
    margin: 10px;
    border: 3px solid white;
    opacity: 1;
    border-radius: 50%;
    transition: .5s ease;
}
.rock:hover{
    opacity: 0.9;
}
/* .midr{
    color: rgb(161, 65, 65);
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
} */
/* .r:hover .midr{
    opacity: 1;
} */


.paper{
    padding: 0; 
    height: 100px;
    width: 100px;
    /* margin-left: 30px;
    margin-right: 30px; */
    margin: 10px;
    border: 3px solid white;
    border-radius: 50%;
    transition: .5s ease;
    opacity: 1;
    transform: rotate(270deg);
}
.paper:hover{
    opacity: 0.8;
}

.scissor{
    padding: 0; 
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 3px solid white;
    transition: .5s ease;
    margin: 10px;
    opacity: 1;
}
.scissor:hover{
    opacity: 0.8;
}
/* .scissor:not(:hover){

    opacity: 1;
} */

.selection{
    font-family: monospace;
    text-align: center;
    font-weight: 800;
    font-size: .5cm;
    color: whitesmoke;
    margin-bottom: 10px;
}

.uc{
    font-family: monospace;
    text-align: center;
    font-weight: 800;
    font-size: .5cm;
    color: whitesmoke;
    margin-top: 20px;
}


.selection2{
    font-family: monospace;
    text-align: center;
    font-weight: 800;
    font-size: .5cm;
    color: whitesmoke;
}

.cc{
    font-family: monospace;
    text-align: center;
    font-weight: 800;
    font-size: .5cm;
    color: whitesmoke;
    margin-top: 20px;
}


.green-glow{
    border-color: rgb(145, 212, 44);
    box-shadow: 0 0 10px greenyellow;
}

.red-glow{
    border-color: rgb(255, 87, 87);
    box-shadow: 0 0 10px red;
}

.silver-glow{
    border-color: silver;
    box-shadow: 0 0 10px rgb(231, 225, 225);
}